[submodule "oss-fuzz-gen"]
	path = oss-fuzz-gen
	url = https://github.com/google/oss-fuzz-gen
[submodule "oss-fuzz"]
	path = oss-fuzz
	url = https://github.com/google/oss-fuzz
[submodule "fuzz-introspector"]
	path = fuzz-introspector
	url = https://github.com/ossf/fuzz-introspector
